<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is a social platform for musicians">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    
    
    <!-- CSS Docs -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">   
    
    
    <div class="p-3 mb-2 bg-secondary text-white"></div>


    <title>Home Page</title>
</head>
    <body>
        <Style type="text/css">
            H1 { text-align: center}
        </Style>

        <!-- Top Border Coloration -->

        <h1 style="color:darkslategray;">Musi-Chat</h1>

        <!-- Menu Bar Code -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Musi-Chat</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- Home Page Menu Button -->
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    
                  </li>

                  <!-- About Page Menu Button -->
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>

                  <!-- Post Page Link Button -->
                  <li class="nav-item">
                    <a class="nav-link" href="/post">Post</a>
                  </li>

                  <!-- Login Link Button -->
                  <li class="nav-item">
                    <a class="nav-link" href="/log-in">Login</a>
                  </li>

                  <!-- Sign in Button -->
                  <li class="nav-item">
                    <a class="nav-link" href="/sign-up">Sign Up</a>
                  </li>



                </ul>

                <!-- Search Bar Creation -->
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>

        <h2><p><center>Hello, welcome back to Musi-Chat!</center></p></h2>

        <form method="POST">

          <!--  Post Input -->
  
          <div class="mb-3" class="container">
            <div class="container">
              <label for="email" class="form-label">Share Your Thoughts!</label>
              <input type="text" class="form-control" id="Post" name="Post" placeholder="Post">
            </div>
          
          <!-- Comment Input -->

          <p>

          </p>
          <div class="container" id="AccountHelp" class="form-text">Attach Audio/Video
            <a href="/Post">Here</a>
          <p> 

          </p>
  
          <!-- Post Button Creation -->
          <div align="center" ><button type="submit" class="btn btn-primary">Post</button></div>
        
 
  
        </form>









        <!-- Javascript Docs -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
   
    </body>

</html>