<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is a social platform for musicians">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS docs -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">   
    

    <title>Sign Up</title>
    </head>
    <body>

        <!-- Top Border Coloration -->

        <div class="p-3 mb-2 bg-secondary text-white"></div>

        <!-- Navbar Creation -->

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Musi-Chat</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- Home Page Menu Button -->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    
                  </li>

                  <!-- About Page Menu Button -->
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>

                  <!-- Post Page Link Button -->
                  <li class="nav-item">
                    <a class="nav-link" href="/post">Post</a>
                  </li>

                  <!-- Login Link Button -->
                  <li class="nav-item">
                    <a class="nav-link active" href="/log-in">Login</a>
                  </li>

                </ul>

        <h1>Create Account</h1>
            </div>
        </div>
    </nav>

    <!-- Login Form -->
    <form method="POST">

        <!-- Email Login Input -->

        <div class="mb-3" class="container">
          <div class="container">
            <label for="email" class="form-label">Email address</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter Email">
          </div>

        <!-- Username Input -->

        <div class="mb-3" class="container">
          <div class="container">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
        </div> 

        <!-- Password Login Input -->

        <div class="mb-3" class="container">
          <div class="container">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter Password">
          </div>

        <!-- Password Login Input -->

        <div class="mb-3" class="container">
          <div class="container">
            <label for="password2" class="form-label">Password Confirmation</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-enter Password">
          </div>

          <p>                                                                                                          
        </p>

        <!-- Submit Button Creation -->
        <div align="center" ><button type="submit" class="btn btn-primary">Create Account</button></div>
      
        <div class="container" id="AccountHelp" class="form-text">Already have an account?
        <a href="/log-in">Login</a>

      </form>


        <!-- Javascript Docs -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
   
    </body>

</html>